<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Fx Login</title>
    </head>
    <body>
        <div th:if="${param.logout}" style="font-size: small;font-color:red">
            You have been logged out.
        </div><br/>
        <form th:action="@{/login}" method="post">
         <table>    
             <tr><td colspan="2">Fx Rates Login</td></tr>
             <tr><td>User Name : </td><td><input type="text" name="username"/> </td></tr>
             <tr><td>Password : </td><td><input type="password" name="password"/> </td></tr>
             <tr><td colspan="2">
             <div th:if="${param.error}" style="font-size: small;font-color:red">
               Invalid username and password.
            </div>
            </td></tr>
            <tr><td colspan="2">
             <input type="submit" value="Sign In"/>
            </td></tr>
          </table>
           
        </form>
    </body>
</html>